Django==5.0
psycopg2-binary
djangorestframework==3.14.0
markdown==3.4.4
django-filter
Pillow==10.0.0
gunicorn
python-dotenv
whitenoise==6.3.0
djangorestframework-simplejwt==5.2.2
django-phonenumber-field[phonenumberslite]
django-extensions
pytest
pytest-django
drf-spectacular
django-querycount # for show SQL requests

django-cors-headers
django-modeltranslation

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
requests

black
isort

dj-database-url